{%load static%}
<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Browser</title>
</head>

<body class="bg-cover" style="background-image: url('{% static 'view_back.jpg' %}'); background-repeat: no-repeat; background-size: cover;">
 <!-- <header start> -->
   <header class="text-white  font-medium flex flex-row">
      <a href=""><img src="{% static 'logo_name.png' %}" alt="Not available"  width="120px" class="mt-0 h-21 w-25"></a>

      <div class="container h-13 mt-0 mx-auto flex flex-wrap p-0 flex-col md:flex-row items-center">
          <!-- <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"> -->
            <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg> -->
            <!-- <span class="ml-3 text-xl">SIH</span> -->
          <!-- </a> -->
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-purple-300" href="index" >Home</a>
            <a class="mr-5 hover:text-purple-300" href="index/view">View</a>
            <a class="mr-5 hover:text-purple-300" href="index/upload">Upload</a>
            <a class="mr-5 hover:text-purple-300 pr-20" href="index/aboutus">About Us</a>
            <div class="relative pl-80">
              <!-- <div class="absolute pointer-events-auto ...">
                <svg class="absolute text-slate-400 h-5 w-7" viewBox="0 -7 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
              </div> -->
              <input class="text-black mt-1 rounded" type="text" placeholder="Explore" >
            </div>
          </nav>
          <button class="inline-flex items-center bg-gray-400 border-0 py-1 px-2 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0"><a href="logout">Logout</a>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>
 <!-- <header end> -->
  
    <!-- content -->
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-purple-100">Project Showcase</h1>
              <div class="h-1 w-20 bg-purple-500 rounded"></div>
            </div>
            <!-- <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p> -->
          </div>
          
          <div class="flex flex-wrap -m-4 ">
            
             <!-- dabba -->
             {% for project in items %}
             <div class="xl:w-1/4 md:w-1/2 p-4 shadow-xl shadow-pink-100/80 ">
               <a href="{% url 'proj' project.id %}"><div class="bg-gray-400 p-6 rounded-lg shadow-md shadow-indigo-100/70">
                 <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{ project.project_cover.url }}" alt="content">
                 <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">SUBTITLE 1</h3>
                 <h2 class="text-lg text-gray-900 font-medium title-font mb-4">{{project.university_name}}</h2>
                 <p class="leading-relaxed text-base">{{project.project_content}}</p>
                </div></a>
              </div>

              {% endfor %}
              <!-- dabba -->

            <!-- <div class="xl:w-1/4 md:w-1/2 p-4 shadow-xl shadow-indigo-100/70">
              <a href="project.html"><div class="bg-gray-400 p-6 rounded-lg shadow-md shadow-indigo-100/70">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'p2.jpg' %}" alt="content">
                <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">SUBTITLE 2</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">University Name</h2>
                <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
              </div></a>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4 shadow-xl shadow-pink-100/80">
              <a href="project.html"><div class="bg-gray-400 p-6 rounded-lg shadow-md shadow-indigo-100/70">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'p3.jpg' %}" alt="content">
                <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">SUBTITLE 3</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">University Name</h2>
                <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
              </div></a>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4 shadow-xl shadow-indigo-100/70">
              <a href="project.html"><div class="bg-gray-400 p-6 rounded-lg shadow-md shadow-indigo-100/70">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'p4.jpg' %}" alt="content">
                <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">SUBTITLE 4</h3>
		
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">University Name</h2>
                <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
              </div></a>
            </div> -->
          </div>
        </div>
      </section>
    <!-- content -->

    <!-- Footer -->
    <div class="footer">
    <footer class="text-white body-font">
      <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="w-68 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
          <!-- <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Tailblocks</span>
          </a> -->
          <img src="{% static 'logo_name.png' %}" alt="Not available"  width="150px" class="mt-0 h-22 w-30">
          <!-- <p class="mt-2 text-sm text-gray-500">Air plant banjo lyft occupy retro adaptogen indego</p> -->
        </div>
        <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
          
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-gray-50 tracking-widest text-sm mb-3">CATEGORIES</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-400 hover:text-gray-200">First Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-gray-200">Second Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-gray-200">Third Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-gray-200">Fourth Link</a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-gray-50 tracking-widest text-sm mb-3">CATEGORIES</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-400 hover:text-gray-200">First Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-gray-200">Second Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-gray-200">Third Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-gray-200">Fourth Link</a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-gray-50 tracking-widest text-sm mb-3">CATEGORIES</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-400 hover:text-gray-200">First Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-gray-200">Second Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-gray-200">Third Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-gray-200">Fourth Link</a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-gray-50 tracking-widest text-sm mb-3">CATEGORIES</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-400 hover:text-gray-200">First Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-gray-200">Second Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-gray-200">Third Link</a>
              </li>
              <li>
                <a class="text-gray-400 hover:text-gray-200">Fourth Link</a>
              </li>
            </nav>
          </div>
        </div>
      </div>
      <div class="bg-gray-100">
        <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
          <p class="text-gray-500 text-sm text-center sm:text-left">© 2020 Tailblocks —
            <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@knyttneve</a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </div>
    </footer>
    </div>
    <!-- Footer -->
  <script src="script.js"></script>

</body>

</html>
